# build artifacts
build/
*.exe
*.o
*.NCB
*.NCT
*.GGUF

# python caches
__pycache__/
*.pyc

# logs
*.log

# transient profiling/test artifacts
scalar.out
scalar.err
sse2.out
sse2.err

# OS clutter
.DS_Store
